body {
  width: 100%;
	height: 100%;
	font-family: sans-serif;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

@import "../app/src/components/button/button.module.scss";
@import "../app/src/components/input/input.module.scss";
