body {
  width: 100%;
	height: 100%;
	font-family: sans-serif;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.mascot {
    width: 2.0rem;
    height: 2.0rem;
    border-radius: 50%;
    border: 1px solid #023E8A;
    object-fit: cover;
    display: block;
}

.text_error {
  color: #FF0000
}

@import "../app/src/components/button/button.module.scss";
@import "../app/src/components/input/input.module.scss";
@import "../app/src/pages/home/home.module.scss";
@import "../app/src/pages/register/register.module.scss";
@import "../app/src/pages/login/login.module.scss";
