.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  font-family: inherit;
  font-size: 1rem;

  border-radius: 8px;
  border: 2px solid #023E8A;
  background-color: #FFFFFF;
  cursor: text;
  border-style: solid;
  border-width: 2px;
  padding: 0.25rem 0.5rem;
}
