.home_header {
  font-size: 1rem;
  color: #023E8A;
}

.home_container {
  display: flex;
  height: 100dvh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.register_button {
  width: 270px;
  padding: 0.75rem;
  font-size: 1rem;
  margin-top: 0.5rem;
}
